<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Startseite</a></li>
  <li><a href="toc.html">Inhaltsverzeichnis</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">IG Hintergrund<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="background.html">Hintergrund</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Spezifikation<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="spec.html">Detaillierte Spezifikation</a>
      </li>
    </ul>
  </li>
  <li><a href="artifacts.html">FHIR Artefakte</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Support<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Spec <img src="external.png" style="text-align: baseline"/></a>
      </li>
      <li>
        <a href="downloads.html">Downloads</a>
      </li>
    </ul>
  </li>
</ul>      
